{% extends "base.html" %}

{% block pageContent %}
{{super()}}

Whenever a character attempts to do something with a goal in mind, a risk present, and an uncertainty of whether either or both will happen, the gamemaster will call for a test of ability to determine what happens next. A **test of ability** (or **test** for short) is resolved by rolling a _stat_ die, along with some combination of _skill_ and _background_ dice to meet or exceed a number that represents the difficulty of doing what they want to do.

Most of the time, the difficulty is a static number determined by the gamemaster based on the skill required to achieve success with minimal risk. See the benchmarks of difficulty below for some examples.

| Difficulty | Benchmark |
| :--------: | --------- |
|     5      | 1 die     |
|     10     | 2 dice    |
|     15     | 3 dice    |
|     20     | 4 dice    |
|     25     | 5 dice    |
|     30     | 6 dice    |
|     35     | 7 dice    |
|     40     | 8 dice    |



<!-- Suggested difficulty scaling:
5:		1d12 
10:		2d12 or 1d12+5
15:		3d12, 2d12+5, 1d12+10
20:		4d12, 3d12+5, 2d12+10, 1d12+15
25:		4d12+5, 3d12+10, 2d12+15
30:		4d12+10, 3d12+15
35:		4d12+15
40:		4d12+15
45:		Not easy for anyone, req at least 3d12+9
50:		Not easy for anyone, req at least 3d12+14
55:		Not easy for anyone, req at least 4d12+7
60+:	Not easy for anyone, req at least 4d12+12 
-->

In situations where a test is directly opposed by one or more other characters, such as when two characters are arm wrestling over the last chocolate sandwich cookie, all characters involved roll against each other, with the highest roll winning the contest. The rolls of all of the participants are still tests of ability, but in this case the difficulty is variable-- each participant's roll is both the result of their tests and the difficulty that the other participants are trying to overcome in their tests.



### Resolving a Test of Ability

In most cases the gamemaster will determine what stats are applicable for the skill check in question and the player will offer up suggestions of skills and/or backgrounds that they have on their character sheet to add the dice associated with those skills and/or back grounds. A character can contribute one skill or background die to a test of ability per background they have on their character sheet, up to the total amount allowed by the number of [skill milestones]({{url_for('milestones')}})

> A player's thief character is attempting to persuade a local merchant to not question the legality of goods they're selling, so their gamemaster asks the player to make a test of ability with _Charisma_ to convince the merchant.
>
> Consulting their character sheet, the player notes that they have two backgrounds, _Smuggler_ and _Mercenary_, as well as three skills, _Acrobatics_, _Lockpicking_, and _Intimidation_. Based on their current goal, they picks out their background _Smuggler_, and their skill in _Intimidation_ as the relevant skills and backgrounds to this situation.
>
> The gamemaster finds these appropriate to the situation, so they approve them.
>
> The player then rolls their 1d10 Charisma, 1d6 Intimidation, and 1d12 for this being relevant to their Smuggler background.
>
> They roll a 2, a 1, and a 3 for a total of 6--  not a great roll. Fortunately, they have a +5 stat modifier to their Charisma, bringing the total up to 11.
>
> Unfortunately, the gamemaster knows that the player needed a 15 to convince this merchant, so the gamemaster determines the consequences of the player's action. Based on the player's use of the Intimidation skill on the merchant, the gamemaster decides that the merchant is going to start to get belligerent.

### Outcomes

Once the backgrounds, skills, and stat are all chosen, the dice are rolled and the gamemaster compares the total result to the difficulty of the check and describes what happens. If a character's roll meets or exceeds the difficulty of the skill check, they do whatever they set out to do and have minimized any associated risk. If a character's roll does not meet the difficulty of the skill check, things get complicated. That doesn't necessarily mean that they don't accomplish their goal, but there will be certainly be dramatic consequences.

If a character rolls particularly well or particularly poorly compared to the difficulty of the skill check, the outcome should be that much more significant. When a character rolls more than 10 below the target number for a test of ability they suffer a **critical failure** and the risk realized becomes dramatically greater. Conversely, when a character rolls more than 10 above the target number for a test of ability, they have performed a **critical success** and not only do they complete whatever goal they set out to do, but they also gain some kind of significant added benefit-- perhaps this success is free from any risk, or this success is to a degree that none thought possible.



## Goals, Risks, and Uncertainty

To dig a little deeper into skill checks (players, feel free to skip this section), a skill check is fundamentally useless without a goal, a risk, and an uncertainty. Without uncertainty, the narrative already clearly indicates what will happen and to roll the dice is unnecessary. Without a goal, the roller's agency is subverted. Without a risk, failure has no weight and the check is drained of tension. The concept of goals and risks is something that relies on the players being immersed in their character, their surroundings, and the world at large. If you're playing with a bunch of people new to the system, take some time in an introductory dungeon to help your players think in terms of the goals they want to perform and the risks that might come with them.



### Goal Guidelines

Goals are a statement of intent and should be more than just avoiding risks. To that end, goals should ideally be as specific as possible-- the goal is probably not to just dodge the swinging axe traps, but rather to get to the other side of the deadly blades so you can go on looting the tomb. Gamemasters, this is the part of skill checks that fall on the players to define. You should be prepared to ask questions until you are absolutely certain of the intention of the player's actions. If a player doesn't know what they are trying to do in the situation, the gamemaster should present some options like you might find in a choose-your-own-adventure novel.



### Risk Guidelines

Risks are negative consequences to any action. Risks can be as benign as taking a whole day to research something or as life-or-death as taking a chainsaw to the chest, and should rarely just be failing to achieve a goal in a way such that the character couldn't just try again. A character shouldn't just attempt to push some boxes and find them unable to budge, failure should be them accidentally getting pinned beneath them or their efforts alerting a passing warehouse guard. Failing a researching skill check in an quiet town library should result in a sleepless night or missing a crucial detail.

{% endblock pageContent %}
