{% extends "base.html" %}

{% block pageContent %}
{{super()}}
Skills and backgrounds are the cornerstone to character development and growth in Simply Roleplaying. Where stats represent the intrinsic attributes of a character (their strength, speed, etc.), skills and backgrounds represent the training and expertise that same character has gained over time. **Skills** represent the individual trained abilities and **backgrounds** represent broad mastery gained by combining several mastered skills together. 

## Honing your Skills

A character's proficiency with the skills they know is represented by a die; four sided through twelve sided. The more proficient a character is with a skill the higher the die level of the die in question. A character who has a die level of one in a skill is considered to understand the bare minimum, where a character who has a d12 in a skill is considered to have mastered that skill. [If you're not familiar with the concept of die levels you can read about them here]({{url_for('index')}}). 

As stated in [character creation]({{url_for('startingCharacterCreation')}}), characters in Simply Roleplaying can start anywhere from seasoned adventurers to fledgling recruits, brimming with potential. **Potential** is a measure of your character's ability to learn new skills or grow existing skills, given a competent teacher and time to learn. During [character creation]({{url_for('startingCharacterCreation')}}), the gamemaster will allot all of their players with a standard amount of potential to start the game with. Additional potential is earned from [milestones]({{url_for('milestones')}}), which are typically awarded at the end of each session.

### Spending Potential

Players can spend potential in one of two ways: either by being trained in a skill by a more experienced character or by experimenting on their own and gaining insight in a skill. In either case they can choose to either **learn** the skill if they did not already know it, writing it down as a 1d4 skill on their character sheet, or **advance** the skill, increasing the die level of the skill by 1.

#### Training

Training is an intense period of study that characters can engage in over a period of several hours of downtime, given either a trainer or suitable materials to study from. At the conclusion of the **training**, as long as it was not significantly interrupted, the potential is spent and the character learns the trained skill or advance that skill's die level. A character can act as a trainer for a skill provided that they have either mastered it or it pertains to one of their backgrounds.

#### Gaining Insight

At any point after determining the result of a skill check, a player may declare that their character has **gained insight** in either a skill that was used for that check or in a skill that could have been used for that check. When they do this, they may either learn that skill or advance that skill's die level. 

### Mastering a Skill

When a Skill is advanced to 1d12, it is considered **mastered**, and can no longer be advanced. A mastered skill can be taught to others or used in creating a background.

## Building a Background

Once a character has mastered five related skills, they can combine them together to form a **background** that summarizes the common ground between those five skills. Backgrounds can be added to skill checks like a skill and always add 1d12 to the skill check.

> A character had mastered Acrobatics, Dexterity, Lockpicking, Sneaking, and Traps, it would make sense for them to be able to combine them together into a background called _Thief_, since all of those skills are the kind a Thief might have.

When a character develops a new background, the skills combined into that background are erased from their character sheet, as their new background includes those skills. That is not to say that skills combined into a background cannot be learned again, however--  if they are, those skills represent additional expertise beyond what the character already has from their background. Further, no two backgrounds can have the same name. If a character combines the same five skills into a new background more than once, the name of the new background should show the skill gained beyond the first background.

> A roguish character with a Thief background has once again mastered Acrobatics, Dexterity, Lockpicking, Sneaking, and Traps. Since these skills represent their abilities beyond simply being a Thief, they create a new background called _Master Thief_.

## Skill and Background Naming Guidelines

As you may have already figured out, skills are almost entirely determined by the players; there is no master list of skills. This means the sky's the limit as far as creating a skill or background goes. While some modules-- like the Simply Combat module --may define specifically named skills and backgrounds that have specific requirements or capabilities, a skill can usually be anything you train at-- from Juggling to Basket Weaving -- and backgrounds are even more freeform.

The trickiest part about being able to create your own skills or backgrounds is coming up with a good name. You want your names to keep a balance between the general and the specific. Ideally, your skills and backgrounds should both be expressive of what you want your character to be able to do while still remaining general enough that they can come up a lot in play.

Don't worry too much about coming up with the perfect name for a skill or background. It's good enough to just create a good name. Skills ultimately exist to be mastered and turned into backgrounds and, as long as you keep track of the skills used to create them, backgrounds should be renamed until they feel right.

### Naming a Good Skill

Names for skills are fairly rigid. Skills should describe a specific thing that your character has trained in. The more general the name of a skill is, the more generic the character's expertise is considered to be. A character with a _History_ skill would be able to apply it to broad questions about the past of a town, but wouldn't likely be able to apply that knowledge to find the age of the ancient catacombs under the town like a character with an _Archeology_ skill. Conversely, a character with an _Archeology_ skill wouldn't likely be able to apply it to uncovering facts about the recent political unrest of the town.

### Naming a Good Background

Names for backgrounds are more freeform. A good rule of thumb is to name your background something that you might use in a sentence to describe your character. Backgrounds could be jobs like _Blacksmith_, _Hacker_, or _Guerilla Sniper_, roles like _Healer_, _Tactician_, or _Tank_, or even quick descriptions like _Born in a Port City_, _Penny Pincher_, or _Iron Will_. Really, there's not much of a definition for what a background can or can't be; if it sums up both an aspect of your character and a spectrum of skills, it's probably a good background!

### Additional Skill/Background Examples

Here are some additional examples of skills based on a stat they work well with, and some background examples of how they might be combined. While skills are never limited by what stat you use them with, sometimes thinking about what stat you want to improve will help you decide on what kind of skill to learn.

Skills to augment _Agility_ related checks primarily focus on a character's dexterity, flexibility, and physical speed. Some examples are _Acrobatics_, _Lockpicking_, _Rubix Cube Solving_, _Sneaking_, or _Wirecutting_. If you were to combine those five skills, you could create a background named _Criminal Mastermind_.

Skills to augment _Brawn_ related checks primarily focus on a character's fortitude, endurance, and physical strength. Some examples are _Breaching Doors_, _Climbing_, _Lifting_, _Resisting Toxins_, and _Swimming_. If you were to combine those five skills, you could create a background named _Military Commando_.

Skills to augment Charisma related checks primarily focus on a character's social ability and their ability to inspire emotions in others. Some examples are _Animal Handling_, _Bluffing_, _Intimidation_, _Logic_, and _Political Appeal_. If you were to combine those five skills, you could create a background named _Druid Politician_.

Skills to augment Intuition related checks primarily focus on a character's awareness and ability to improvise. Some examples are _Driving_, _Gambling_, _Navigation_, _Traps_, and _Streetwise_. If you were to combine those five skills, you could create a background named _Getaway Driver_.

Skills to augment Knowledge related checks primarily focus on a character's education, ability to retain facts, and their ability to understand and apply complicated concepts. Some examples are _Archeology_, _Bandit Culture_, _Baking_, _Political History_, and _Sewing_. If you were to combine those five skills, you could create a background named _Gang Savvy Granny_.

{% endblock pageContent %}
