{% extends "base.html" %}

{% block pageContent %}
{{super()}}
Skills and backgrounds are the cornerstone to character development and growth in Simply Roleplaying. Where stats represent the intrinsic attributes of a character (their strength, speed, etc.), skills and backgrounds represent the training and expertise that same character has gained over time. **Skills** represent the individual trained abilities and **backgrounds** represent of mastery derived by combining several mastered skills together. 

## Skill Checks
Skill checks exist for whenever a character attempts to do something where there is a goal, a risk, and an uncertainty of whether either or both will happen. A skill check is resolved by rolling a _stat_ die, along with some combination of _skill_ and _background_ dice to meet or exceed a (typically secret) target number that represents the **difficulty** of the task the character is attempting to perform. 

### Resolving a Skill Check

In most cases the gamemaster will determine what stats are applicable for the skill check in question and the player will offer up suggestions of skills and/or backgrounds that they have on their character sheet to add the dice associated with those skills and/or backgrounds. A character can contribute one skill or background die to a skill check per background they have on their character sheet, to a maximum of three.

> A player's thief character is attempting to persuade a local merchant to not question the legality of goods he's selling, so his gamemaster asks him to make a _Charisma_ based skill check to convince the merchant.
>
> Consulting his character sheet, the player notes that he has two backgrounds, _Smuggler_ and _Mercenary_, as well as three skills, _Acrobatics_, _Lockpicking_, and _Intimidation_. Based on his current situation, he picks out his background _Smuggler_, and his die level 2 (1d6) skill in _Intimidation_ as the relevant skills and backgrounds to this situation.
>
> His gamemaster finds these appropriate to the situation, so she approves them.
>
> The player then rolls his die level 4 Charisma (1d10), die level 2 (1d6) Intimidation, and 1d12 for this being relevant to his Smuggler background.
>
> He rolls a 2, a 1, and a 3 for a total of 6--  not a great roll. Fortunately, he has a +5 stat modifier to his Charisma, bringing his total up to 11.
>
> Unfortunately, the gamemaster knows that he needed a 15 to convince this merchant, so she determines the consequences of his action. Based on his use of the Intimidation skill on the merchant, she decides that he's going to start to get belligerent.

### Outcomes

Once the backgrounds, skills, and stat are all chosen, the dice are rolled and the gamemaster compares the total result to the difficulty of the check and describes what happens. If a character's roll meets or exceeds the difficulty of the skill check, they do whatever they set out to do with minimal risk. If a character's roll does not meet the difficulty of the skill check, that doesn't necessarily mean that they don't accomplish their goal-- just that they will also suffer some kind of risk.

If a character rolls particularly well or particularly poorly compared to the difficulty of the skill check, the outcome should be that much more significant. When a character rolls more than 10 below the target number for a skill check, they suffer a **critical failure** and the risk they suffer becomes dramatically greater. Conversely, when a character rolls more than 10 above the target number for a skill check, they have performed a **critical success** and not only do they complete whatever goal they set out to do, but they also gain some kind of significant added benefit-- perhaps free from any risk, or success to a degree that none thought possible.

### Goals, Risks, and Uncertainty

To dig a little deeper into skill checks (players, feel free to skip this section), a skill check is fundamentally useless without a goal, a risk, and an uncertainty. Without uncertainty, the narrative clearly indicates what will happen and to roll the dice is only to provide the façade of agency. Without a goal, success means nothing to whomever is rolling, and the same is true for risks and failure.

Goals are a statement of intent, and should be more than just avoiding risks. To that end, goals should ideally be as specific as possible-- the goal is probably not to just dodge the swinging axe traps, but rather to get to the other side of the deadly blades so you can go on looting the tomb. While on paper this seems to fall a lot on the player to describe exactly what they are doing, the gamemaster should also be presenting possible options that the player can take to help them out.

Risks are negative consequences to any action. Risks can be as benign as taking a whole day to research something or as life-or-death as not avoiding the chainsaw rushing towards your chest. Risks should rarely just be failing to achieve a goal in a way such that the character couldn't just try again. A character shouldn't just attempt to push some boxes and find them unable to budge, failure should be them accidentally getting pinned beneath them or their efforts alerting a passing warehouse guard. Failing a researching skill check in an quiet town library should result in a sleepless night or missing a crucial detail.

## Potential: Learning and Improving
In Simply Roleplaying, a character's proficiency with the skills they know is represented by a die, four sided through twelve sided. The more proficient a character is with a skill, the higher the die level of the die in question. A character who has a die level of one in a skill is considered to understand the bare minimum, where a character who has a die level of five in a skill is considered to have mastered that skill. [If you're not familiar with the concept of die levels, you can read about them here]({{url_for('index')}}). 

Characters in Simply Roleplaying can start anywhere from seasoned adventurers to fledgling recruits, brimming with potential. **Potential** is a measure of your character's ability to learn new skills or grow existing skills, given a competent teacher and time to learn.

During character creation, the gamemaster will allot all of their players with a standard amount of potential to start the game with. More details on this can be found [in character creation]({{url_for('startingCharacterCreation')}}). In addition, at the beginning or end of each session the gamemaster may grant the players some number of points of potential. 

### Spending Potential

Players can spend potential in one of two ways: either by being trained in a skill by a more experienced character or by experimenting on their own and gaining insight in a skill. In either case, they can choose to either **learn** the skill if they did not already know it, marking it as a level 1 Skill on their character sheet, or **advance** the skill, increasing the die level of the skill by 1.

### Training
Training is an intense period of study that characters can engage in over a period of several hours of downtime, given either a trainer or suitable materials to study from. At the conclusion of the **training**, as long as it was not significantly interrupted, the potential is spent and the character learns or advances the skill they were training. A character can act as a trainer for a skill provided that they have either mastered it or it pertains to one of their backgrounds.

### Gaining Insight

At any point after determining the result of a skill check, a player may declare that their character has **gained insight** in either a skill that was used for that check or in a skill that could have been used for that check, learning or advancing the skill.

### Mastering a Skill

When a Skill is advanced to die level 5, it is considered **mastered**, and can no longer be advanced. A mastered skill can be taught to others or used in creating a background.

## Building a Background

Once a character has mastered five related skills, they can combine them together to form a **background** that summarizes the common ground between those five skills. Backgrounds can be added to skill checks like a skill, but always add a d12 to the skill check.

> A character had mastered Acrobatics, Dexterity, Lockpicking, Sneaking, and Traps, it would make sense for them to be able to combine them together into a background called _Thief_, since all of those skills are the kind a Thief might have.

When a character develops a new background, the skills combined into that background are erased from their character sheet, as their new background includes those skills. That is not to say that skills combined into a background cannot be learned again, however--  if they are, those skills represent additional expertise beyond what the character already has from their background. Further, no two backgrounds can have the same name. If a character combines the same five skills into a new background more than once, the name of the new background should show the skill gained beyond the first background.

> A roguish character with a Thief background has once again mastered Acrobatics, Dexterity, Lockpicking, Sneaking, and Traps. Since these skills represent their abilities beyond simply being a Thief, they create a new background called _Master Thief_.

## Skill and Background Guidelines

As you may have already figured out, skills are largely determined by the players in Simply Roleplaying. While some modules-- like the Simply Combat module --may define specifically named skills and backgrounds that have specific requirements or capabilities, a skill can usually be anything you train at-- from Juggling to Basket Weaving.

As a rule of thumb; the more general a skill is, the more generic the character's expertise is considered to be. A character with a History skill would be able to apply it to broad questions about the past of a town, but wouldn't necessarily be able to apply that knowledge to the finer details of the ancient catacombs under the town like a character with an Archeology skill.

### Skill and Background Examples

Here are some examples of skills based on a stat they work well with, and some background examples of how they might be combined. While skills are never limited by what stat you use them with, sometimes thinking about what stat you want to improve will help you decide on what kind of skill to learn.

Skills to augment Agility related checks primarily focus on a character's dexterity, flexibility, and physical speed. Some examples are Acrobatics, Lockpicking, Sneaking, Rubix Cube Solving, or Wirecutting. If you were to combine those five skills, you might create a background named Criminal Mastermind.

Skills to augment Brawn related checks primarily focus on a character's fortitude, endurance, and physical strength. Some examples are Breaching Doors, Climbing, Lifting, Resisting Toxins, and Swimming. If you were to combine those five skills, you might create a background named Military Commando.

Skills to augment Charisma related checks primarily focus on a character's social ability and their ability to inspire emotions in others. Some examples are Animal Handling, Bluffing, Intimidation, Logic, and Political Appeal. If you were to combine those five skills, you might create a background named Druid Politician.

Skills to augment Intuition related checks primarily focus on a character's awareness and ability to improvise. Some examples are Driving, Gambling, Navigation, Traps, and Streetwise. If you were to combine those five skills, you might create a background named Getaway Driver.

Skills to augment Knowledge related checks primarily focus on a character's education, ability to retain facts, and their ability to understand and apply complicated concepts. Some examples are Archeology, Bandit Culture, Baking, Political History, and Sewing. If you were to combine those five skills, you might create a background named Gang Savvy Granny.

{% endblock pageContent %}
