{% extends "base.html" %}

{% block pageContent %}
  {{super()}}
  <p>Creating a character in the Simply Roleplaying system is incredibly easy. One simply must follow these four steps.</p>
  <ol>
  	<li>Pick a character name - Use your own if you'd like!</li>
  	<li>Select a race for your character to be, ask your GM for the list of races or check out the provided races <a href="{{url_for('worldRaces')}}">by clicking here.</a></li>
  	<li>Allocate points to each stat, to determine what die you will roll for that stat.</li>
  	<li>Optional: Select advantages and disadvantages for your character to start with. (Talk with your GM if they will allow advantages and disadvantages in their campaign)</li>
  	<li>Pick a personality and a reasonable backstory for your character. The personality and backstory should make sense together, and should reflect the points you put in the stats you picked earlier. (Remember: the more detail, the more fun!)</li>
  </ol>
{% endblock pageContent %}
