{% extends "bootstrap/base.html" %}
{% block title %}{{pageTitle}} - Simply Roleplaying{% endblock %}

{# Fixes for legacy browsers: #}
{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{# Adding external CSS #}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('styles', filename='styles.css')}}">
    <link rel="stylesheet" type="text/css"
          href="{{url_for('styles', filename='content.css')}}">
    <link rel="stylesheet" type="text/css"
          href="{{url_for('styles', filename='navbar.css')}}">
    <link rel="icon" type="image/png"
          href="{{url_for('logos', filename='SRP_Favicon_Monogram.png')}}">
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
{% endblock %}

{% block navbar -%}
{{nav.navbar.render(renderer='custom')}}
{%- endblock navbar %}

{% block content -%}
<div class="content">
  {% filter markdown %}
  {% block pageContent %}
# {{headerText}}
  {% endblock pageContent %}
  {% endfilter %}
</div>
{%- block footer %}
<footer>
    <p>Found a bug? Interested in what's next? <strong><a href="https://github.com/TheFifthRider/simply-roleplaying-webapp">Visit Simply Roleplaying on GitHub!</a></strong></p>
    <p>Simply Roleplaying &copy; 2014 - 2020 Richard Otte</p>
</footer>
{%- endblock footer %}
{%- endblock content %}

{# -------------------------------------------------------------------------- #}
{#  MACROS                                                                    #}
{# -------------------------------------------------------------------------- #}

{% macro align(alignment, markdown, extraclasses='') -%}
<div class="align{{ alignment }} {{ extraclasses }}">
{% filter markdown -%}
{{ markdown }}
{%- endfilter %}
</div>
{%- endmacro %}

{% macro inlineIcon(alt, url, markdown) -%}
<div class="valignmiddle">
<img class="icon" src="{{ url }}" alt="{{ alt }}" />
<div>
{% filter markdown %}
{{ markdown }}
{% endfilter %}
</div>
</div>
{%- endmacro %}

{% macro renderDefaultTable(name, cells, class='alignleft') -%}
{{ renderTable(name, cells, class) }}
{%- endmacro %}

{% macro renderTable(name, cells, class='alignleft', rowHeaders=false, columnHeaders=true,  cellRenderer=renderCell, rowRenderer=renderRow) -%}
<div class="notextwrapping">
<table border="1" class="{{ class }}">
<thead>
<tr><th colspan="100%">{{ name }}</th></tr>
{% if columnHeaders -%}<tr>
  {% for header in cells[0] -%}<td>{{ header }}</td>{%- endfor %}
</tr>{%- endif %}
</thead>
{% for row in cells -%}
{% if not (loop.first and columnHeaders) -%}
<tr>{{rowRenderer(row, rowHeaders, cellRenderer)}}</tr>
{%- endif %}
{%- endfor %}
</table>
</div>
{%- endmacro %}

{% macro renderRow(row, rowHeaders, cellRenderer) -%}
<tr>
{% if rowHeaders -%}
  <th>{{ row[0] }}</th>
{%- endif %}
{% for cell in row -%}
{% if not (loop.first and rowHeaders) -%}
  <td>{{ cellRenderer(cell) }}</td>
{%- endif %}
{%- endfor %}
</tr>
{%- endmacro %}

{% macro renderCell(cell) -%}
{{ cell }}
{%- endmacro %}

{% macro renderDefault2DTable(name, cells, class='alignleft') -%}
{{ renderTable(name, cells, class, true, true) }}
{%- endmacro %}
