{% extends "base.html" %}

{% block pageContent %}
  {{super()}}
  <p>
  Simply Roleplaying is a role playing game system that is designed to be easily accessible to any level of player. This site was created specifically to be a reference guide for any players -- the GameMaster's (GM's) manual for this system is still a work in progress.
  </p>
  <p>
  A role playing game is a game in which players assume the roles of characters in a fictional setting. Each player takes responsibility for acting out these roles within a narrative, either through literal acting or through a process of structured decision-making or character development. Actions taken within many games succeed or fail according to a formal system of rules and guidelines.
  There are several forms of RPG, but Simply Roleplaying is of the original form, sometimes called the tabletop RPG. It is conducted via discussion, talking out actions and decisions.
  </p>
  <p>
  Within these pages, you will see exactly what the Simply Roleplaying system has to offer to you as a role player. This website is specifically engineered towards being a player's handbook of sorts, acting as a reference for you.
  </p>
{% endblock pageContent %}
