html {
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: #695744;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	margin: 0 auto;
  min-height: 100%;
  padding: 0 0 300px;
  background-color: #C2AC94;
	position: relative;
  max-width: 1200px;
  text-align: justify;
}

h1 {
  text-align: center;
  margin: 0 0.5em;
	font-size: 2em;
	font-weight: bold;
}

h2 {
  text-align: center;
  margin: 1.5em 1em 0.5em;
	font-size: 1.8em;
  font-weight: bold;
}

h3 {
  text-align: center;
  margin: 1.5em 1em 0.5em;
	font-size: 1.6em;
  font-weight: bold;
}

h4 {
  text-align: center;
  margin: 1.5em 1em 0.5em;
  font-size: 1.4em;
  font-weight: bold;
}

h5 {
  text-align: center;
  margin: 0.5em 1em;
  font-size: 1.2em;
  font-weight: bold;
}

footer {
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
	position: absolute;
	text-align: center;
	right: 0;
	bottom: 0;
	left: 0;
}

footer a:link {
	color:#361F00;
  text-decoration: none;
}

footer a:visited{
	color:#361F00;
  text-decoration: none;
}

footer a:hover{
	color:#5B3500;
  text-decoration: none;
}

footer a:active {
	color:#FFEDE1;
  text-decoration: none;
}
