{% extends "base.html" %}

{% block pageContent %}
{{super()}}
# Racing

A necromancer flees as the tide turns against his undead minions, an archeologist braves the ocean to be first to reach an ancient tomb, a spy dashes through the hangar towards their getaway starship fueled for takeoff. A **race scenario** is best suited for any action scenario in which participants are competing to reach a particiular goal.
<!-- Define terms -->

<!--
Glossary of terms:
  Necessary:
    Race: the scenario
    Race actions: actions + reactions

  Maybe unnecessary:
    Leg: A segment of the race with some kind of length

  Should have been defined previously or be removed:
    Intiative: score for who goes when
    Turn order: order of who goes when
    Round: a completion of the turn order


    Rename closing?
  -->

Typically once the goal is reached by one or both parties, the race will end. Each character's position in a race is described by their distance away from the goal.

The length of each section (or **leg**) of the race is determined by your GM based on the scale. While a race by foot across the room may be over in a matter of seconds, a race over a longer distance by a faster means may take hours or even days. Therefore, the position of each character relative to the goal of the race is measured in a special kind of action reserved for races. Each character in a race has a number of these **race actions** available per leg equal to the number of actions plus the number of reactions they have in a combat scenario.

## Acting in a Race
There are five possible ways that a race action can be spent: closing, performing a stunt, creating an obstacle, creating a shortcut, or improvising. Your GM may rule that they are not all always available. If the race comes to a rickety bridge, for instance, Closing may not be an option-- participants might have to perform a stunt to cross.

{{ inlineIcon('Close action icon', url_for('icons', filename='close.png'), "
### Closing
A character who uses their race action to **close** decreases their distance to the goal by one race action. This represents doing whatever is necessary to get closer to the goal, be it kicking down a door, running across a room, or speeding down the highway.
") }}

{{ inlineIcon('Perform a stunt action icon', url_for('icons', filename='perform_stunt.png'), "
### Performing a stunt
A character who uses their race action to **perform a stunt** takes a risk to try to get to the goal faster. After the character's action is described, the GM determines a number of race actions that this stunt is worth and the difficulty of the skill check necessary to pull off the stunt. The character attempting the stunt then makes the skill check. If the character succeeds, they move the stunt's worth in race actions towards the goal. If they fail, they must spend the same number of race actions recovering from the stunt. This represents performing dangerous stunts like running up rooftops, weaving through heavy traffic, or taking a shortcut through an asteroid field.
") }}

{{ inlineIcon('Create obstacle or shortcut action icon', url_for('icons', filename='obstacle_shortcut.png'), "
### Creating an Obstacle or Shortcut
A character who uses their race action to **create an obstacle** or **create a shortcut** chooses to not move closer to the goal, but rather change the race for other racers further from the goal. Your GM will determine who in the race can possibly be affected by the obstacle or shortcut. Like performing a stunt, the GM determines a number of race actions that this obstacle or shortcut is worth and the difficulty of the skill check necessary to successfully create the obstacle or shortcut, if any. The character trying to create the obstacle or shortcut then makes the skill check, if applicable. If the character suceeds and they are creating a shortcut, they and all affected racers move that many actions towards the goal. If the character succeeds and they are creating an obstacle, all affected racers move that many actions away from the goal. Depending on the size and complexity, a character may need to spend several actions creating the obstacle or shortcut.
") }}


{{ inlineIcon('Improvise action icon', url_for('icons', filename='improvise.png'), "
### Improvising
A character who uses their race action to **improvise** performs some action that does not move them along their path to the goal. This represents the many other possible actions that a character might take in a race, like attacking or performing a combat technique.
") }}

## Chasing
Sometimes, a race will be intiated by pursuit. While usually the pursued character is fleeing to somewhere (in which case, a typical race towards a goal is appropriate), occasionally the pursued character's goal is simply to shake their pursuers. In this case, the pursued character's position is considered the "goal" of the race, and the pursued character will no longer be able to **close** or **perform a stunt**
<!-- TODO: Insert waylaying action here -->

{% endblock pageContent %}
