{% extends "base.html" %}

{% block site_meta %}
{{ super() }}
{% if page.meta %}
<meta name="description" content="{{ page.meta.description }}" />
{% endif %}
{% endblock %}

{% block search_button %}
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search rules" title="Type search term here">
  </form>
</div>
{% endblock %}

{% block site_name %}
<a href="{{ nav.homepage.url|url }}"></a>
{% endblock %}

{%- block footer %}
{% if not page.is_homepage %}{% include "footer.html" %}{% endif %}
{% endblock %}

{%- block styles %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700" />
<link rel="stylesheet" href="{{ 'css/rpg-awesome.min.css'|url }}" />
<link rel="stylesheet" href="{{ 'fontawesome-free-6.3.0-web/css/fontawesome.css'|url }}" />
<link rel="stylesheet" href="{{ 'fontawesome-free-6.3.0-web/css/brands.css'|url }}" />
<link rel="stylesheet" href="{{ 'fontawesome-free-6.3.0-web/css/solid.css'|url }}" />
<link rel="stylesheet" href="{{ 'css/theme.css'|url }}" />
<link rel="stylesheet" href="{{ 'css/theme_extra.css'|url }}" />
<link rel="manifest" href="/manifest.json">
{%- if config.theme.highlightjs %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" />
{%- endif %}
{%- for path in config['extra_css'] %}
<link href="{{ path|url }}" rel="stylesheet" />
{%- endfor %}
{% if page.is_homepage %}<link href="css/splash.css" rel="stylesheet">{% endif %}
{%- endblock %}
